:root {
	/* Colors */
	--clr-grey-900: #2a4144;
	--clr-grey-500: #86a2a5;
	--clr-green-600: #0c7d69;
	--clr-green-200: #e0f1e8;
	--clr-red: #d73c3c;
	--clr-white: #ffffff;

	/* Typography */
	--ff-main: 'Karla', sans-serif;

	--fs-big: 32px;
	--fs-normal: 18px;
	--fs-small: 16px;

	--lh-big: 100%;
	--lh-normal: 150%;

	--ls-big: -1px;
	--ls-normal: 0px;
}

/* CSS RESET */

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* 2. Remove default margin */
* {
	margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
	html {
		interpolate-size: allow-keywords;
	}
}

body {
	/* 4. Add accessible line-height */
	line-height: 1.5;
	/* 5. Improve text rendering */
	-webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
	font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
	text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
	isolation: isolate;
}

/* general styling */

body {
	background-color: var(--clr-green-200);
	font-family: var(--ff-main);
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

main {
	background-color: var(--clr-white);
	margin: 2rem 1rem;
	border-radius: 1rem;
	padding: 1rem 1.5rem 1.5rem 1.5rem;
}

.form__title {
	color: var(--clr-grey-900);
	margin-bottom: 1rem;
}

label,
legend {
	color: var(--clr-grey-900);
}

label span,
legend span {
	margin-left: 0.4rem;
}

input {
	margin: 0.65rem 0 1.5rem;
	width: 100%;
	padding: 0.6rem;
	border-radius: 8px;
	border: none;
	outline: 1px solid var(--clr-grey-500);
}

.form-control small {
	visibility: hidden;
	position: absolute;
	bottom: 0;
	left: 0;
}

.radio__btn-container {
	position: relative;
	margin-bottom: 1.5rem;
}

legend {
	margin-bottom: 0.85rem;
}

.radio__btn {
	outline: none;
	position: absolute;
	height: 1.3rem;
	top: 2.6rem;
	left: -7.5rem;
}

.radio__btn:nth-of-type(2) {
	top: 6.4rem;
}

.radio__btn-label {
	border: 1px solid var(--clr-grey-500);
	padding: 0.6rem 0 0.6rem 3.2rem;
	font-size: var(--fs-normal);
	display: block;
	border-radius: 8px;
	color: var(--clr-grey-900);
}

.radio__btn-label:nth-of-type(1) {
	margin-bottom: 1rem;
}

#message {
	height: 240px;
}

.checkbox__container {
	position: relative;
	padding-left: 2rem;
	margin-bottom: 2.35rem;
}

#checkbox {
	position: absolute;
	outline: none;
	left: -8.75rem;
	top: 0.2rem;
	height: 1rem;
}

button {
	width: 100%;
	background-color: var(--clr-green-600);
	color: var(--clr-green-200);
	border: none;
	padding: 0.85rem;
	font-size: var(--fs-normal);
	font-weight: 700;
	border-radius: 8px;
}

button:hover {
	cursor: pointer;
}

@media (min-width: 770px) {
	main {
		width: 100%;
		margin: 7rem 2rem;
		padding: 1.5rem 2rem 1.5rem 2.25rem;
	}

	.names__container {
		display: flex;
		justify-content: space-between;
		gap: 1rem;
	}

	.radio__btn-container {
		display: grid;
		grid-template-columns: 1fr 1fr;
		column-gap: 1rem;
		margin-bottom: 0.5rem;
	}

	.radio__btn-container label {
		grid-column: 1;
		height: 2.85rem;
	}

	.radio__btn-container label:nth-of-type(2) {
		grid-column: 2;
	}

	.radio__btn {
		top: 2.6rem;
		left: -18rem;
	}

	.radio__btn:nth-of-type(2) {
		top: 2.6rem;
		left: 2.5rem;
	}

	#message {
		height: 130px;
	}

	.checkbox__container {
		margin-top: 1rem;
	}

	#checkbox {
		left: -19.2rem;
		top: -0.3rem;
	}
}

@media (min-width: 1440px) {
	main {
		width: 640px;
	}

	.radio__btn {
		left: -16rem;
	}

	.radio__btn:nth-of-type(2) {
		top: 2.6rem;
		left: 2.35rem;
	}

	#checkbox {
		left: -17.4rem;
	}
}
